body {
    font-family: Arial, sans-serif;
    background-color: #5F9EA0;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: 20px auto;
    background: url('https://github.com/morel93/orthosolution-chile/blob/main/imagenes/menu.png') no-repeat center center;
    background-size: cover; /* Esto asegura que la imagen cubra toda la sección */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    border-bottom: 5px solid blue;
}
h1, h2 {
    color: #2F4F4F;
    font-size: 24px;
}
p, ul {
    font-size: 18px;
}
.section {
    margin-bottom: 20px;
    padding: 20px;
    border-top: 2px solid #2F4F4F;
    display: none; /* Las secciones estarán ocultas inicialmente */
}
.section.active {
    display: block; /* Se muestra la sección si tiene la clase "active" */
}
.image-container img {
    width: 80%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}
/* Estilos del menú */
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}
nav ul li {
    display: block;
    background-color: #fff;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
nav ul li:hover {
    background-color: #2F4F4F;
    color: white;
}
 
